<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 50 Selling Books</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Top 50 Selling Books of All Time</h1>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Title</th>
          <th>Author</th>
          <th>Total Sales</th>
          <th>Author's Total Sales</th>
          <th>Top 5 in Publication Year</th>
        </tr>
      </thead>
      <tbody>
        <% topBooks.forEach((book, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= book.name %></td>
          <td><%= book.author.name %></td>
          <td><%= book.totalSales.toLocaleString() %></td>
          <td><%= book.authorTotalSales.toLocaleString() %></td>
          <td><%= book.inTopFiveOnPublicationYear ? 'Yes' : 'No' %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/books">Back to All Books</a>
    <br />
    <a href="/">Go back to Home Menu</a>
  </body>
</html>
