<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review for <%= review.book.name %></title>
  </head>
  <body>
    <h1>Review for "<%= review.book.name %>"</h1>
    <p>Score: <%= review.score %> / 5</p>
    <p>Upvotes: <%= review.numberOfUpvotes %></p>
    <h2>Review</h2>
    <p><%= review.review %></p>

    <form
      action="/reviews/<%= review._id %>/upvote"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Upvote</button>
    </form>

    <a href="/reviews/<%= review._id %>/edit">Edit</a>
    <form
      action="/reviews/<%= review._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
    <a href="/reviews">Back to all reviews</a>
  </body>
</html>
