<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale for <%= sale.book.name %> - <%= sale.year %></title>
  </head>
  <body>
    <h1>Sale for "<%= sale.book.name %>"</h1>
    <p>Year: <%= sale.year %></p>
    <p>Sales: <%= sale.sales %></p>

    <a href="/sales/<%= sale._id %>/edit">Edit</a>
    <form
      action="/sales/<%= sale._id %>?_method=DELETE"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
    <a href="/sales">Back to all sales</a>
  </body>
</html>
