<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= author.name %></title>
  </head>
  <body>
    <h1>Edit <%= author.name %></h1>
    <form action="/authors/<%= author._id %>?_method=PATCH" method="POST">
      <div>
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= author.name %>"
          required
        />
      </div>
      <div>
        <label for="dateOfBirth">Date of Birth:</label>
        <input
          type="date"
          id="dateOfBirth"
          name="dateOfBirth"
          value="<%= author.dateOfBirth.toISOString().split('T')[0] %>"
          required
        />
      </div>
      <div>
        <label for="countryOfOrigin">Country of Origin:</label>
        <input
          type="text"
          id="countryOfOrigin"
          name="countryOfOrigin"
          value="<%= author.countryOfOrigin %>"
          required
        />
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>
<%= author.description %></textarea
        >
      </div>
      <button type="submit">Update Author</button>
    </form>
    <a href="/authors/<%= author._id %>">Cancel</a>
  </body>
</html>
